{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>{{ title }}</h3>
        <form name="PrtFormDelete" action="" method="post">
            {{ form.hidden_tag() }}

            <datalist class="dropbtn" onclick="">
                {% for id in notes.pet_First_Name %}
                <option value="id">id</option>
                {% endfor %}
            </datalist>
            <p>
                {{form.pet_First_Name.label}}<br />
                {{form.pet_First_Name()}}
            </p>
            <p>
                {{form.note_Date.label}}<br />
                {{form.note_Date()}}
            </p>
            <p>
                {{form.note_Notes.label}}<br />
                {{form.note_Notes()}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </div>
</div>

{% endblock %}