{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>{{ title }}</h3>
        <form name="PetFormAdd" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{form.pet_First_Name.label}}<br />
                {{form.pet_First_Name()}}
            </p>
            <p>
                {{form.pet_Last_Name.label}}<br />
                {{form.pet_Last_Name()}}
            </p>
            <p>
                {{form.pet_Breed.label}}<br />
                {{form.pet_Breed()}}
            </p>
            <p>
                {{form.pet_Gender.label}}<br />
                {{form.pet_Gender()}}
            </p>
            <p>
                {{form.pet_Age.label}}<br />
                {{form.pet_Age()}}
            </p>
            <p>
                {{form.pet_Picture.label}}<br />
                {{form.pet_Picture()}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </div>
</div>

{% endblock %}