{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>{{ title }}</h3>
        <form name="ServicesFormSelect" action="" method="post">
            {{ form.hidden_tag() }}

            <datalist class="droplist">
                {% for id in vet.vet_EmailAddress %}
                <option value="id">id</option>
                {% endfor %}
            </datalist>
            <p>
                {{form.vet_EmailAddress.label}}<br />
                {{form.vet_EmailAddress()}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </div>
</div>

{% endblock %}